/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6c63ff;
  --ifm-color-primary-dark: #4b40ff;
  --ifm-color-primary-darker: #3a2eff;
  --ifm-color-primary-darkest: #0e00f8;
  --ifm-color-primary-light: #8d86ff;
  --ifm-color-primary-lighter: #9e98ff;
  --ifm-color-primary-lightest: #d0cdff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6c63ff;
  --ifm-color-primary-dark: #4b40ff;
  --ifm-color-primary-darker: #3a2eff;
  --ifm-color-primary-darkest: #0e00f8;
  --ifm-color-primary-light: #8d86ff;
  --ifm-color-primary-lighter: #9e98ff;
  --ifm-color-primary-lightest: #d0cdff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}